.container{
    max-width: 100%;
    background-color: #4286f4;
}

#header {
    margin: 0 auto;
    max-width: 960px;
}

#logo {
    float: left;
    width: 350px;
    padding: 30px;
    height: 300px;
    width: 300px;
}


#text_and_inputs {
    font-size: 30px;
    color: white;
    padding: 40px;
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 50px;
}


#blurb {
    font-size: 18px;
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
}


.field-head {
    font-size: 24px;
}

#blurb {
    font-size: 18px;
}


#selections_row {
    margin-top: 40px;
}


#citypicker {
    width: 300px;
    font-size: 14px;
    margin-top: 20px;
}


#datepicker {
    width: 300px;
    font-size: 14px;
    margin-top: 20px;
}

.btn {
    border: solid 2px white;
    background-color: #264078; 
    width: 200px;
    font-size: 14px;
}

#submit{
    margin-top:20px;
}

h3 {
    padding: 10px;
    margin-top: 10px;
}

#event-display{
    margin: 0 auto;
    width:960px;
}


.event-div {
    padding: 10px;
    margin: 40px;
    float: left;
    width: 400px;
    border: grey solid 3px;
    border-radius: 25px;
    text-align: center;
    /* background-color: gray */
}

h5{
    margin: 10px;
}

#event-image{
    align-content: center;
    width:80%;
}

.rest-div{
    border-bottom:2px solid lightgray;
}

#rest-2{
  border-bottom:none;
  
}

#data-validation{
    display:none;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
}

#data-validation2{
    display: none;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
}

#data-validation3{
    display: none;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
}


.comment{
    /* position: fixed; */
    /* bottom: 0px; */
    margin: 0 auto;
    font-family: 'GlacialIndifferenceRegular'; 
    max-width: 960px;
    padding: 40px;
    overflow: auto;
    clear: both
}

#comment-form{
    float: left;
}

#name-comment{
    margin-top: 20px;
}

#comment-label{
    margin-top: 20px;
}

#Username{
    width: 25%;
}

#tComment{
    width: 75%;
    height: 50px;
}

#commentsubmit{
    margin-top: 20px;
    border: black solid 2px;
}

#comment-table{
    margin: 0 auto;
}

.thead-light{
    border-bottom: 2px black solid;
}

th{
    padding: 10px;
}

#warning2{
    padding:5px;
}

/* mobile display - 640px and less */

@media only screen and (max-width: 640px) {

    .container {
        width: 100%;
    }

    #header {
        width: 100%; 
        background-color: #4286f4;  
    }
    
    h2 {
        font-size: 30px;
    }

    #text_and_inputs {
        width: 100%;
        font-size: 30px;
        clear: both;
    }
    
    /* #logo_box {
        margin: 0 auto;
        float: none;
    }
    
    #logo {
       width:60%;
    } */

    .event-div{
        width: 400px;
        margin: 10px auto;
        clear: both;
    }

}

